.nav-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: indigo;
  cursor: pointer;
  }
  
  .page-item{
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.06);
  background: #fff;
  color: #101115;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  }
  
  .github{
  height: 36px;
  width: 36px;
  line-height: 36px;
  transition: all .3s ease;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #0F9D58;
  color: #fff;
  }
  .bg-banner-forest{
    background-image: url('../public/forest-banner.jpg');
  }

  /* contain the img inside the div for footer header */
  .half-height-image {
    width: 100%; /* Make the image take up the full width of its container */
    height: 100%; /* Make the image take up the full height of its container */
    object-fit: cover; /* Maintain the image's aspect ratio while covering its container */
  }